body{
    background-color:#7D1935;
}

.heading{
 font-size: 50px;
 color: azure;
 text-align: center;
 background-color: #943a54;
 width: 50%;
 margin-left: 200px;
 border-radius: 30px;
 border: 2px solid antiquewhite;
}

.heading-two{
    font-size: 70px;
    color: azure;
    text-align: center;
    background-color: #943a54;
    width: 30%;
    margin-left: 550px;
    border-radius: 30px;
    border: 2px solid antiquewhite;
   }

.main-body{
    background-color:#420516;
    margin-left: 200px;
    margin-right: 200px;
}

#demo{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 30px;
    color: aliceblue;
}


.select-option{
    font-size: 30px;
}

.btn-level{
    padding: 20px;
    width: 200px;
  background-color: #491725;
  color: aliceblue;
  font-size: 20px;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 700px;
  border-color: aliceblue;
}

.btn-level:hover{
    background-color:#943a54 ; 
    width: 200px; 
    padding: 20px;

}
button{
  padding: 20px;
  width: 200px;
  background-color: #491725;
  color: aliceblue;
  font-size: 20px;
  margin-right: 50px;
  margin-left: 700px;
  margin-top: 20px;

}

button:hover{
    padding: 30px;
    background-color:#943a54; 
    width: 300px;
}

.body-wrapper{
    background-color: #420516;
    width: 50%;
    margin-left: 400px;
    margin-top: 100px;
    height: 400px;
    border-radius: 30px;
    border: 2px solid antiquewhite;
    -webkit-box-shadow: 0px 5px 40px -21px rgb(226, 226, 233);
    -moz-box-shadow: 0px 5px 40px -21px rgb(226, 226, 233);
    box-shadow: 0px 5px 40px -21px rgb(226, 226, 233);
}

#word-input{
margin-left: 250px;
height: 50px;
width: 30%;
font-size: 25px;
text-align: center;
-webkit-box-shadow: 0px 5px 40px -21px rgb(226, 226, 233);
-moz-box-shadow: 0px 5px 40px -21px rgb(226, 226, 233);
box-shadow: 0px 5px 40px -21px rgb(226, 226, 233);
}

#word{
    font-size: 40px;
    color:beige;
    margin-left: 40%;


}

.time-score{
    color: aliceblue;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.time-score-number ,.time-score-number-time{
    color: aliceblue;
    font-size: 20px;
    padding-right: 20px;

}

.start-level1{
    background-color: #42373a;
    padding: 30px;
    width: 100px;

}

.start-level1:hover{
    padding: 30px;
    background-color:#42373a; 
    width: 100px;
}