body{
    background-color:#7D1935;
}

.heading{
 font-size: 80px;
 color: azure;
 text-align: center;
 
}

.main-body{
    background-color:#420516;
    margin-left: 200px;
    margin-right: 200px;
}


.select-option{
    font-size: 30px;
}

.btn-level{
    padding: 20px;
    width: 200px;
  background-color: #491725;
  color: aliceblue;
  font-size: 20px;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 700px;
}

.btn-level:hover{
    background-color:#943a54 ; 
    width: 200px; 
    padding: 20px;

}
button{
  padding: 20px;
  width: 200px;
  background-color: #491725;
  color: aliceblue;
  font-size: 20px;
  margin-right: 50px;
  margin-left: 700px;
  margin-top: 20px;

}

button:hover{
    padding: 30px;
    background-color:#943a54; 
    width: 300px;
}